# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\EasyPHP-Devserver-17\eds-www\RG09_html\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
